html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#dust { z-index: 0; }
#canvas { z-index: 1; }

.clean-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3;
    color: white;
    cursor: pointer;
    opacity: .6;
}

.name {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}
